html {
  margin: 0;
  font-family: 'Spline Sans', sans-serif;
  background-color: #E7FBBE;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.homePage {
  font-family: 'Spline Sans', sans-serif;
  font-size:xx-large;
  background-color: #E7FBBE;
  color: #424874;
  /* color: #e7f1aeed; */
  padding-top: 2%;
  padding-left: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5px;
}

.homeImg {
  max-height: 80%;
  max-width: 80%;
  padding-top: 10%;
  padding-right: 5%;
}

#homePageBtns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  font-size: medium;
}

.signInPage, .signUpPage, .signOutPage, .changePasswordPage {
  background-image: url(../src/images/flag.jpeg);
  background-size: cover;
  height: 100vh;
}

.signInText, .signOutText, .changePasswordText {
  background-color: rgba(183, 217, 248, 0.505);
  height: 275px;
  padding-top: 1%;
  font-family: 'Spline Sans', sans-serif;
  color: #424874;
  border-radius: 10px;
}

.signUpText {
  background-color: rgba(183, 217, 248, 0.505);
  height: 400px;
  padding-top: 1%;
  font-family: 'Spline Sans', sans-serif;
  color: #424874;
  border-radius: 10px;
}

.signOutText {
  background-color: rgba(183, 217, 248, 0.505);
  height: 275px;
  padding-top: 1%;
  font-family: 'Spline Sans', sans-serif;
  color: #424874;
  text-align: center;
  border-radius: 10px;
}


/* #signInButton {
  font-family: 'Spline Sans', sans-serif;
  background-image: linear-gradient(to bottom right, #fa1616e1, #f40551ea, #FFD371,#EDF285,#C2FFD9, #12CAD6, #516bebda, #5F6CAF,violet); 
} */


/* CONTACT PAGE STYLING  */

 .contact {
  background-color: #E7FBBE;
  font-family: 'Spline Sans', sans-serif;
  text-align: center;
  float: center;
  padding-top: 4%;
  color: #424874;
}

 .column {
  text-align: center;
  padding-top: 4%;
  font-size: small;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1px;
}

.logo {
  height: 60px;
  width: 60px;
}

.logoDiv {
  display: inline;
}

.contactImages {
  height: 300px;
  width: 300px;
}

.searchButton{
  padding-top: 2.5%;
  background-color: #E7FBBE;
  font-family: 'Spline Sans', sans-serif;
  font-size: small;
  color: #424874;
  text-align: center;
}

.searchBar {
  justify-content: center;
  align-items: center;
  text-align: left;
  gap: 10px;
  width: 30%;
}

.submitButton {
  margin-left: .5%;
}
.destinations {
  padding-top: 2.5%;
}

.favPlace {
  padding-top: 2%;
  padding-bottom: 2%;
  /* max-width: 850px;
  max-height: 850px; */

}

.favPlaceName {
  padding-top: 2%;
}

.favPlaceImg {
  max-width: 650px;
  max-height: 650px;
  border-radius: 5%;
  margin-top: .5%;
  margin-bottom: 1.5%;
}

.gDestPage, .desProfPage {
  background-color: #E7FBBE;
  color: #424874;
  font-family: 'Spline Sans', sans-serif;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 2.5%;
}

.cityAttributes {
  /* display: flex;
  flex-direction: row; */
  justify-content: center;
  align-items: center;
  text-align: left;
  margin: 2%;
}